<!DOCTYPE html>
<html>
<head>
  <title>Team SoloMid | Official TSM Site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body style = "margin: 0px;">

  <header class = "retard navbar">
    <div class = "header--content">
      <%= link_to root_path, class: "navbar-brand" do %>
        <img src="https://s3.amazonaws.com/solomid-resources/tsm-gg/logos/logo.png" style = "width: 121px; height: 40px; position: relative; float: left; margin-top: 13px; margin-bottom: 13px;">
      <% end %>
      
    </div>
  </header>

<%= yield %>

</body>
</html>
